<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
 * @category   Divalto
 * @package    Divalto_Customer
 * @subpackage etc
 * @author SySwatis (Stéphane JIMENEZ)
 * @copyright Copyright (c) 2020 SySwatis (http://www.syswatis.com)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
     <add id="Divalto_Customer::menu" title="Divalto" module="Divalto_Customer" sortOrder="10" resource="Divalto_Customer::menu"/>
     <add id="Divalto_Customer::index" title="Test Mode" module="Divalto_Customer" sortOrder="10" parent="Divalto_Customer::menu" action="customer/test/index" resource="Divalto_Customer::index"/>
    <!--  <add id="Divalto_Customer::ping" title="Ping" module="Divalto_Customer" sortOrder="10" parent="Divalto_Customer::menu" action="customer/test/ping" resource="Divalto_Customer::ping"/>
     <add id="Divalto_Customer::CreateCustomer" title="Create Customer" module="Divalto_Customer" sortOrder="10" parent="Divalto_Customer::menu" action="customer/test/CreateCustomer" resource="Divalto_Customer::CreateCustomer"/>
     <add id="Divalto_Customer::CreateOrder" title="Create Order" module="Divalto_Customer" sortOrder="10" parent="Divalto_Customer::menu" action="customer/test/CreateOrder" resource="Divalto_Customer::CreateOrder"/> -->
    </menu>
</config>