<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
 * @category   Divalto
 * @package    Divalto_Customer
 * @subpackage etc
 * @author SySwatis (Stéphane JIMENEZ)
 * @copyright Copyright (c) 2020 SySwatis (http://www.syswatis.com)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Divalto" translate="label" sortOrder="999">
            <label>Divalto</label>
        </tab>
        <section id="divalto_customer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer</label>
            <tab>Divalto</tab>
            <resource>Divalto_Customer::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <validate>required-entry validate-data</validate>
                </field>
                 <field id="api_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Url</label>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="api_url_test" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Url Test</label>
                    <validate>validate-url</validate>
                    <comment translate="comment">Enable Test Mode</comment>
                </field>
                <field id="ssl_verifypeer" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SSL Peer’s Certificate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="divalto_store_id" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Divalto Store Id</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="divalto_tax_rule_order" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Divalto Tax Rule Order</label>
                    <source_model>Divalto\Customer\Model\Config\Source\TaxRuleOrder</source_model>
                </field>
                <field id="email_test" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Test</label>
                    <validate>validate-email</validate>
                    <comment>Test "Créer Client" et "Créer Commande"</comment>
                </field>
                <field id="code_test" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Code Test</label>
                    <comment>Test "Créer Commande"</comment>
                </field>
                <field id="order_status" translate="label" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Order Status</label>
                  <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                  <comment>Select all authorized status for sending orders</comment>
                </field>
                <field id="payment_method" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Payment Method</label>        
                   <source_model>Divalto\Customer\Model\Config\Source\ListPaymentMethod</source_model>
                   <comment>Select all authorized payment methods for sending orders without status restrictions</comment>
                </field>
                <field id="legal_form" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Legal Form</label>
                    <frontend_model>Divalto\Customer\Block\Adminhtml\Form\Field\LegalFormRanges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>